{% load staticfiles %}

<header class="navbar navbar-fixed-top" id="header-wrapper" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <!--<img id="logo" src="{% static 'img/logo.png' %}" /> -->
                {{ site.page_title }}
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            {% include 'menu.inc.html' %}
        </nav>
    </div>
</header>

{% if site.billboard_image %}
<div id="billboard-image-wrapper">
    <div id="wrapper">
        <div id="outer">
            <div id="middle">
                <div id="inner">
                    <h1 id="site-title">{{ site.page_title }}</h1>
                    <h3 id="site-subtitle">{{ site.page_subtitle }}</h3>
                </div>
            </div>
        </div>
    </div>
    <img id="billboard-image" src="{{ MEDIA_URL }}{{ site.billboard_image }}" class="img-responsive full-size-image"/>
</div>
{% endif %}